<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
    <add name="MMABooks" connectionString="data source=(LocalDB)\MSSQLLocalDB;AttachDBFilename=
		 C:\USERS\JSBX\DESKTOP\C#_Projects\Database\MMABooks.mdf; Integrated Security=True"/>
  </connectionStrings>

</configuration>